# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build artifacts
dist/
coverage/
.tmp/

# env
.env
.env.*
!.env.example

# databases
*.db
*.db-journal

# angular
.angular/

# prisma
backend/prisma/dev.db
backend/prisma/test.db

# editor
.DS_Store
.vscode/
.idea/
